.mt-1{
    margin-top: 10px;
}

.jumbotron{
    background-color: #ffffff;
}

.body{
    font-family: 'Ubuntu', sans-serif !important;
}

.image-property{
    max-width: 50px;
    max-height: 50px;
    padding-left: 10px;
}

.section-heading{
    text-transform: uppercase;
}

.tech-stack{
    max-width: 100px;
    max-height: 100px;
}

.project-header{
    color: aqua
}

.project-pointer{
    max-width: 30px;
    max-height: 30px;
}

.copyright{
    margin-left: auto;
    margin-right: 0px;
}
